.prefix__st0,
.prefix__st1 {
    fill: none;
    stroke: #a0147e;
    stroke-width: 0.5;
}
.prefix__st1 {
    fill: #ebd9e7;
}
.prefix__st2 {
    fill: #a0147e;
}
.prefix__st3 {
    font-family: 'Gilroy Bold';
}
.prefix__st4 {
    font-size: 12px;
}
.prefix__st5 {
    fill: #da521f;
}
.prefix__st6 {
    fill: #fff;
}
.prefix__st7 {
    font-size: 14px;
}
.prefix__st9 {
    fill: #00babe;
}
.prefix__st13,
.prefix__st14 {
    fill: none;
    stroke: #000;
    stroke-width: 0.25;
}
.prefix__st14 {
    stroke-linecap: round;
}
.prefix__st15 {
    fill: #f99d1c;
}
.prefix__st16,
.prefix__st20 {
    fill: #fff;
    stroke: #a0147e;
    stroke-width: 0.511;
}
.prefix__st20 {
    stroke-width: 0.5;
}
.prefix__st22,
.prefix__st23 {
    fill: none;
    stroke: #000;
    stroke-width: 0.2528;
}
.prefix__st23 {
    stroke-linecap: round;
}

.click {
    cursor: pointer;
}
